#section-con-sfondo {
    background-image: url('./img/pattern.png');
    background-color: deepskyblue;
    background-size: 100%;
    height: 70px;
    
    
}

.booleaner img {
    height: 30px;
    margin-top: 40px;
}

body {
    margin-left: 70px;
    margin-right: 70px;
}