#section-con-sfondo {
    background-image: url('./img/pattern.png');
    background-color: deepskyblue;
    background-size: contain;
    height: 70px;
}

.booleaner img {
    height: 30px;
    margin-top: 40px;
    margin-left: 80px;
}

main {
    margin-left: 80px;
    margin-right: 80px;
}

span.scrittori {

    color: aqua
}

.data {

    font-size: smaller;
    margin-top: 0px;
    color: gray;
}

.author {

    margin-bottom: 1px;
    margin-top: 1px;
    color: gray;
}

h1 {

    margin-bottom: 1px;
}

.descrizione-foto {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: small;
}

.evidenziare {
    background-color: yellow
}

#tabella-testa th{
    color: white;
    background-color: steelblue;
    width: 33%;
    text-align:left;
}

.celle-con-sfondo{
    background-color: skyblue;
}

.tabella{
    border-spacing: 0px;
}